In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
os.chdir('H:/PCS_Switch/switching_logs/logs/switch')

In [8]:
file_list = [f for f in os.listdir() if os.path.isfile(f)]
print(file_list)

['1-switch_81_A.log', '1-switch_81_B.log', '10-switch_81_A.log', '10-switch_81_B.log', '11-switch_81_A.log', '11-switch_81_B.log', '12-switch_81_A.log', '12-switch_81_B.log', '13-switch_81_A.log', '13-switch_81_B.log', '14-switch_81_A.log', '14-switch_81_B.log', '15-switch_81_A.log', '15-switch_81_B.log', '16-switch_81_A.log', '16-switch_81_B.log', '17-switch_81_A.log', '17-switch_81_B.log', '18-switch_81_A.log', '18-switch_81_B.log', '19-switch_81_A.log', '19-switch_81_B.log', '2-switch_81_A.log', '2-switch_81_B.log', '20-switch_81_A.log', '20-switch_81_B.log', '21-switch_81_A.log', '21-switch_81_B.log', '22-switch_81_A.log', '22-switch_81_B.log', '23-switch_81_A.log', '23-switch_81_B.log', '24-switch_81_A.log', '24-switch_81_B.log', '25-switch_81_A.log', '25-switch_81_B.log', '26-switch_81_A.log', '26-switch_81_B.log', '27-switch_81_A.log', '27-switch_81_B.log', '28-switch_81_A.log', '28-switch_81_B.log', '29-switch_81_A.log', '29-switch_81_B.log', '3-switch_81_A.log', '3-switch_81_B.log', '30-switch_81_A.log', '30-switch_81_B.log', '31-switch_81_A.log', '31-switch_81_B.log', '32-switch_81_A.log', '32-switch_81_B.log', '33-switch_81_A.log', '33-switch_81_B.log', '34-switch_81_A.log', '34-switch_81_B.log', '35-switch_81_A.log', '35-switch_81_B.log', '36-switch_81_A.log', '36-switch_81_B.log', '4-switch_81_A.log', '4-switch_81_B.log', '5-switch_81_A.log', '5-switch_81_B.log', '6-switch_81_A.log', '6-switch_81_B.log', '7-switch_81_A.log', '7-switch_81_B.log', '8-switch_81_A.log', '8-switch_81_B.log', '9-switch_81_A.log', '9-switch_81_B.log']

In [5]:
db.head()

,Subject,Trial,Event Type,Code,Time,TTime,Uncertainty,Duration,Uncertainty.1,ReqTime,ReqDur,Stim Type,Pair Index,TimeSec
2,10,0.0,Pulse,44,141327.0,141327.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,14.1327
3,10,1.0,Picture,fix,141445.0,0.0,1.0,5165.0,1.0,0.0,5000.0,other,0.0,14.1445
4,10,1.0,Picture,"PICTURE_338.png,ITA,start,regalo",146610.0,5165.0,1.0,20159.0,1.0,5000.0,20000.0,other,0.0,14.6610
5,10,1.0,Port Input,2,161171.0,19726.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,16.1171
6,10,1.0,Pulse,44,161246.0,19801.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,16.1246

In [9]:
for filename in file_list:
    newfile = filename.replace('.log','')
    newfile = newfile.replace('_81','')
    newfile = newfile.replace('-','_')
    db = pd.read_csv(filename, sep = ';', header = 2)
    z = db[(db['Event Type'] == 'Pulse')].index[0]
    db = db[z:-13]
    #db = db.dropna()
    db["TimeSec"] = db["Time"] / 10000
    first_pulse = db.iloc[1,13]
    db['TimePulse'] = db['TimeSec'] - first_pulse
    filter_ITA_Stay = db['Code'].str.contains('ITA,Stay')
    filter_ITA_Switch = db['Code'].str.contains('ITA,Switch')
    filter_ENG_Stay = db['Code'].str.contains('ENG,Stay')
    filter_ENG_Switch = db['Code'].str.contains('ENG,Switch')
    ITA_Stay = db.loc[filter_ITA_Stay,'TimePulse']
    ITA_Switch = db.loc[filter_ITA_Switch,'TimePulse']
    ENG_Stay = db.loc[filter_ENG_Stay,'TimePulse']
    ENG_Switch = db.loc[filter_ENG_Switch,'TimePulse']
    ITA_Stay.to_csv(f"{newfile}_ita_stay.txt", index = False, header = False)
    ITA_Switch.to_csv(f"{newfile}_ita_switch.txt", index = False, header = False)
    ENG_Stay.to_csv(f"{newfile}_eng_stay.txt", index = False, header = False)
    ENG_Switch.to_csv(f"{newfile}_eng_switch.txt", index = False, header = False)

---